/Archer.class
/BlockedSeeThroughTile.class
/BlockedTile.class
/Knight.class
/OpenTile.class
/Piece.class
/Tile.class
/InvalidMoveException.class
/InvalidRemovalException.class
/OutOfMovesException.class
/FriendlyFireException.class
/TileAndPieceTests.class
